.blog-section {
  background-color: var(--light-color);
  padding: 5rem 0;
}
.blog-title {
  padding-bottom: 1rem ;
  font-size: 3rem;
  font-family: var(--font-josefin);
   font-family: var(--font-mikella);
  color: var(--primary-color);
  line-height: 1;
}
.blog-subtitle {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text-color)
  ;font-family: var(--font-josefin);
  padding-bottom: 2rem;
}
.blog-content-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem, 1fr));
  gap: 5rem;
 
 padding-bottom: 2rem;
}

.blog-content-image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.date-wrapper-header {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: start;
}
.blog-card{
    box-shadow: 0 1rem 1rem -1rem  rgba(0, 0, 0, 0.15);
    padding-bottom: 2rem;
 padding: 1rem;
 padding-bottom: 2rem;
}
.blog-content h3 {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-family: serif;
  max-width: 20rem;
}

.blog-content p {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: var(--font-josefin);
  padding-bottom: 1rem;
}
.blog-content .date-span{
  color: var(--primary-color);
  line-height: 1;
}
.read-more-btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  border-color: var(--primary-color);
  border-radius: 3rem;
  transition: 0.3s ease-in-out;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.read-more-btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
